<!DOCTYPE html>
<html>
<body>
{% block body %}
    <ul>
        <li>{{ bookmark.title }}</li>
        <li>{{ bookmark.url }}</li>
        <li>{{ bookmark.description }}</li>
        <li>{{ bookmark.keywords }}</li>
        <li>{{ bookmark.favicon }}</li>
        <li>{{ bookmark.dateCreated.format('Y-m-d H:i:s') }}</li>
    </ul>
    <form action="{{ path('bookmark_item', {bookmark_id: bookmark.id}) }}" method="delete">
        <input type="submit" value="Remove"/>
    </form>
{% endblock %}


{% block javascripts %}{% endblock %}
</body>
    <head>
            <meta charset="UTF-8">
            <title>{% block title %}bookmark.title{% endblock %}</title>
            {% block stylesheets %}{% endblock %}
    </head>
</html>
