{% extends "base.html.twig" %}

{% block content %}
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ bookmark.title|e }}</li>
        <li class="list-group-item">{{ bookmark.favicon|e }}</li>
        <li class="list-group-item">{{ bookmark.url|e }}</li>
        <li class="list-group-item">{{ bookmark.description|e }}</li>
        <li class="list-group-item">{{ bookmark.keywords|e }}</li>
        <li class="list-group-item">{{ bookmark.dateCreated.format('Y-m-d H:i:s') }}</li>
    </ul>
    <a href="{{ path('bookmark_remove', {bookmark_id: bookmark.id}) }}" class="btn btn-danger">Remove</a>
    <a href="{{ path('bookmarks') }}" class="btn btn-info">Back to list</a>
{% endblock %}
