{% extends "base.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">{{ bookmark.title|e }}</h1>
        <p class="lead"><img class="rounded-sm" src="{{ asset('public/img/' ~ bookmark.getFavicon())  }}" /> {{ bookmark.url|e }}</p>
        <hr class="my-4">
        <p>{{ bookmark.description|e }}</p>
        <p><b>Keywords:</b>{{ bookmark.keywords|e }}</p>
        <p><b>Added: </b>{{ bookmark.dateCreated.format('Y-m-d H:i:s') }}</p>
        <a href="{{ path('bookmark_remove', {bookmark_id: bookmark.id}) }}" class="btn btn-danger">Remove</a>
        <a href="{{ path('bookmarks') }}" class="btn btn-info">Back to list</a>
    </div>
{% endblock %}
